
/* Local Font Definitions */

@font-face {
  font-family: 'Ma Shan Zheng';
  src: url('/fonts/MaShanZheng-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zhi Mang Xing';
  src: url('/fonts/ZhiMangXing-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
